<ion-view title="Calculadora de ganancias" ng-controller="CalculatorCtrl">

  <ion-header-bar align-title="left" class="bar-header disable-user-behavior bar-positive">
    <div class="title title-center header-item">Calculadora de Ganancias</div>

    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
                <button class="button button-icon button-clear ion-android-more-vertical"
                        ng-click="popover.show( event)">
                </button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content scroll="true" style="background-color: rgba(0,0,0,0.02)">

  </ion-content>
</ion-view>
