
  <ion-popover-view >
    <ion-content scroll="false">
      <ion-list>
        <ion-item class="item-icon-right" ng-click="goToHelp()">Ayuda<i  class="icon calm ion-help"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="shareAnywhere()">Compartir<i class="icon calm ion-android-share-alt"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="irAStore()">Danos tu opinión<i  class="icon calm ion-ios-chatbubble"></i></ion-item>
       </ion-list>
    </ion-content>
  </ion-popover-view>


